# Application Settings
APP_NAME=Helmet SIVIR API
VERSION=1.0.0

# CORS Settings
ALLOWED_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

# ESP32 Serial Port (Linux)
# ESP32_PORT=/dev/ttyUSB0

# ESP32 Serial Port (Windows)
# ESP32_PORT=COM3

# Supabase Configuration
SUPABASE_URL=https://wtcywpfukizuqfsyuvut.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_RXgHG31BhSwm79uuQPbcCA_gnGK1Sxn
SUPABASE_SECRET_KEY=your_supabase_secret_key
SUPABASE_JWKS_URL=https://wtcywpfukizuqfsyuvut.supabase.co/auth/v1/.well-known/jwks.json
